
{% extends 'cloudviewer/header.html' %}
{% load static %}
{% block content %}


    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">{{ tenants.0.cloud }}</h1>
          <p class="lead text-muted">This report shows: Tenant names, their parents, products, amount of users, amount of apps and also if they are demo tenants.</p>
            <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-dark">UPDATE DATABASE</button>
            </form>
             <br>

           <a href="{% url 'exportToExcel' report=report cloud=cloud  %}"><button type="submit" class="btn btn-outline-dark">EXPORT TO EXCEL</button></a>
        </div>
      </section>

  <table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Tenant Name</th>
      <th scope="col">Parent Name</th>
      <th scope="col">Products</th>
      <th scope="col">Amount of users</th>
      <th scope="col">Amount of Apps</th>
       <th scope="col">Demo Tenant</th>
    </tr>
  </thead>
  <tbody>

    {% for tenant in tenants %}
    <tr>
        {% if not 'root'|upper in tenant.name|upper and tenant.leaf == True %}

      <td>{{ tenant.name }}</td>
      <td>{{ tenant.parentName }}</td>
      <td>{% for p in tenant.products %}{{ p }}   {% endfor %}</td>
      <td>{{ tenant.users.count }}</td>
      <td>{{ tenant.apps.count }}</td>
      <td>{{ tenant.demoTenant }}</td>

        {% endif %}
    </tr>
    {% endfor %}

  </tbody>
  </table>


{% endblock %}